body{
    height: auto;
    margin: 0;
    background-color: #ffffff;
}
#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container {
    min-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.nav{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-left {
    height: 55px;
    width: 55px;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.selfinfo{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 60%;
    border: 1px solid #3c006e;
    margin-top: 120px;
    font-size: 24px;
    border-radius: 10px;
    /* opacity: 0.0; */
}

.text{
    width: 60%;
    font-family: "europa", sans-serif;
    word-wrap: break-word;
    color: white;
    font-weight: 300;
    padding: 2%;
}

#c{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.point{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
    color: #6100b3;
    margin-right: 15px;
}
.point:hover{
    color: #b300ff;
}

.about-section h1 {
    font-size: 3rem;
}

.about-section h2 {
    font-size: 1.5rem;
    color: rgba(10, 10, 10, 0.9);
    font-family: "europa", sans-serif;
    font-weight: 300;
    margin-bottom: 2rem;
}

.about{
    background-color: #7510F7;
    height: 600px;
    width: 100%;
}